:root {
	/* General */
	--theme-default-border-color: rgba(0, 0, 0, 1);
	--theme-text-color: rgba(0, 0, 0, 1);

	/* Toolbar */
	--toolbar-background-color: rgba(10, 10, 140, 1);
	--toolbar-background-color-hover: rgba(20, 20, 150, 1);
	--toolbar-border-color: rgba(0, 0, 0, 1);
	--toolbar-text-color: rgba(0, 0, 0, 1);

	/* Views */
	--view-background-color: rgba(34, 34, 189, 1);
	--view-text-color: rgba(0, 0, 0, 1);
	--disableInteractionsMesh-background-color: rgba(100, 100, 100, 0.5);
	
	/* Editor */
	--editor-background-color: rgba(34, 34, 189, 1);
	--editor-text-color: rgba(0, 0, 0, 1);
}