body {
	margin: 0px;
}

body a {
	color: var(--theme-text-color);
}

#disableInteractionsMesh {
	z-index: 10;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100vh;
	width: 100vw;
	background-color: var(--disableInteractionsMesh-background-color);
	display: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.center {
	text-align: center;
}

.factoryReset-btn {
	margin-left: auto;
	margin-right: auto;
	min-width: fit-content;
	min-height: fit-content;
	width: 100%;
	height: 2em;
	text-align: center;
	background-color: rgba(255, 0, 0, 0.5);
	border: none;
	margin-top: 1%;
}

#themeSelector {
	color: var(--view-text-color);
	background-color: var(--view-background-color);
	width: 100%;
	text-align: center;
}

#themeSelector:focus {
	outline: none;
}

#themeSelector > option {
	background-color: var(--view-background-color);
	color: var(--view-text-color);
	text-align: center;
}

.extra-runtime {
	position: fixed;
	top: -100vh;
	border: none;
}

.notification {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 15em;
	height: 5em;
	text-align: center;
	border: 1px solid var(--theme-text-color);
	animation-name: notification-slide-in;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	display: none;
	z-index: 10000000000;
	background-color: var(--editor-background-color);
}

.notification-slide-out {
	animation-name: notification-slide-out;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.btn-thinking {
	
}

.btn-thinking:after {
	width: 3ch;
	content: "...";
	animation-name: btn-thinking-anm;
	/*animation-fill-mode: forwards;*/
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes btn-thinking-anm {
	0% {
		content: "";
	}
	25% {
		content: ".";
	}
	50% {
		content: "..";
	}
	75% {
		content: "...";
	}
	100% {
		content: "";
	}
}

@keyframes notification-slide-in {
	0% {
		right: -100vw;
	}
	100% {
		right: 0px;
	}
}

@keyframes notification-slide-out {
	0% {
		right: 0px;
	}
	100% {
		right: -100vw;
		display: none;
	}
}