body {
	margin: 0px;
}

body a {
	color: var(--theme-text-color);
}

#disableInteractionsMesh {
	z-index: 10;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100vh;
	width: 100vw;
	background-color: var(--disableInteractionsMesh-background-color);
	display: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.center {
	text-align: center;
}

.factoryReset-btn {
	margin-left: auto;
	margin-right: auto;
	min-width: fit-content;
	min-height: fit-content;
	width: 100%;
	height: 2em;
	text-align: center;
	background-color: rgba(255, 0, 0, 0.5);
	border: none;
	margin-top: 1%;
}

#themeSelector {
	color: var(--view-text-color);
	background-color: var(--view-background-color);
	width: 100%;
	text-align: center;
}

#themeSelector:focus {
	outline: none;
}

#themeSelector > option {
	background-color: var(--view-background-color);
	color: var(--view-text-color);
	text-align: center;
}