body {
	margin: 0%;
	display: flex;
	flex-direction: column;
	background-color: rgb(0, 0, 0);
}
.toolbar {
	line-height: 10vh;
}
#editor {
	height: 90vh;
	border: none;
	outline: none;
	resize: none;
	padding-left: 1%;
	white-space: pre;
}
/*#toolbar {
	background-color: rgb(150, 150, 150);
	color: rgb(0, 0, 0);
	height: 10vh;
	display: flex;
	flex-direction: row;
}
#toolbar > * {
	background-color: rgba(150, 150, 150, 1);
	color: rgb(0, 0, 0);
	height: 100%;
	flex: 1;
	border: none;
}
#toolbar > *:hover {
	background-color: rgba(100, 100, 100, 1);
}
#actionsBar {
	display: flex;
	flex-direction: row;
	height: 10vh;
}
#actionsBar > * {
	background-color: rgba(150, 150, 150, 1);
	flex: 1;
	height: 100%;
	line-height: 10vh;
}
#actionsBar > button:hover {
	background-color: rgba(150, 150, 150, 1);
}
#actionsBar > button {
	border: none;
}
#fontSizeSelect > option:hover {
	background-color: rgb(0, 0, 0);
	box-shadow: 0 0 1px 1px #000000 inset;
}*/
#toolbar-hider-button {
	width: 100%;
	height: 100%;
}
.view {
	background-color: rgba(255, 255, 255, 1);
	display: none;
	padding: 1%;
	position: fixed;
	top: 5vh;
	left: 5vw;
	right: 5vw;
	bottom: 5vh;
	z-index: 11;
	overflow-y: auto;
}
a {
	color: rgb(0, 0, 0);
}
/* First Level Details */
.details-1 {
	padding: 1%;
}
.details-1 > summary {
	list-style: none;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}
.details-1 > summary:hover {
	background-color: rgba(200, 200, 200, 0.5);
}
/* Second Level Details */
.details-2 {
	padding: 1%;
}
.details-2 > summary {
	list-style: none;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}
.details-2 > summary:hover {
	background-color: rgba(200, 200, 200, 0.5);
}
/* View Panes */
.view-close-button {
	position: fixed;
	right: 5vw;
	top: 5vh;
	height: 5vh;
	min-height: 2em;
	border: none;
}
.view-close-button:hover {
	background-color: rgba(100, 100, 100, 1);
}
#popups {
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	width: 60vw;
	height: 40vh;
	bottom: 55vh;
	left: 20vw;
	right: 20vw;
	top: 5vh;
	display: none;
	z-index: 12;
	text-align: center;
	overflow-y: auto;
	/*animation-name: topDownTo5;
	animation-duration: 0.1s;*/
}
.popup-close-button {
	border: none;
	width:60vw;
	position:fixed;
	height: 5vh;
	right:20vw;
	left:20vw;
	bottom:55vh;
	/*animation-name: topDownTo5-buffered;
	animation-duration: 0.1s;*/
}
.popup-close-button:hover {
	background-color: rgba(100, 100, 100, 1);
}

/* UI Meshes */
.disableInteractionsMesh {
	background-color: rgba(200, 200, 200, 0.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 10;
	display: none;
}
/* Basic Classes */

.center {
	text-align: center;
}
.full-w {
	width: 100%;
}
.fill-h {
	height: 100%;
}
.updateButton {
	background-color: rgba(0, 255, 0, 1);
	width: 100%;
	border: none;
	font-weight: bold;
}
.updateButton:hover {
	background-color: rgba(0, 200, 0, 1);
}
.row {
	display: flex;
	flex-direction: row;
}
.row > * {
	flex: 1;
}
.column {
	display: flex;
	flex-direction: column;
}
.disabled {
	pointer-events: none;
}
.disabled-unit {
	pointer-events: none;
	background-color: rgba(200, 200, 200, 1);
}

/* Buttons */
.button-warning {
	background-color: rgba(255, 50, 50, 1);
	border: none;
	width: 100%;
	height: 10vh;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 100%;
}
.button-warning:hover {
	background-color: rgba(255, 100, 100, 1);
}

/* Animations */
@keyframes topDownTo5-buffered {
	from {
		top: 35vh;
	}
	to {
		top: 40vh;
	}
}
@keyframes topDownTo5 {
	from {
		top: 0vh;
		bottom: 60vh;
	}
	to {
		top: 5vh;
		bottom: 55vh;
	}
}
@keyframes zoomToFill-bound-5 {
	from {
		width: 20vw;
		height: 20vh;
		left: 40vw;
		right: 4vw;
		top: 4vh;
		bottom: 40vh;
		overflow: hidden;
	}
	to {
		width: 90vw;
		height: 90vh;
		left: 5vw;
		right: 5vw;
		top: 5vh;
		bottom: 5vh;
		overflow: auto;
	}
}
@keyframes shrink-bound-5 {
	from {
		width: 90vw;
	}
	to {
		width: 20vw;
	}
}
@keyframes zoomToFill-close-button-5 {
	from {
		right: 40vw;
	}
	to {
		right: 5vw;
	}
}
@keyframes toolbar-hide-editor {
	0% {
	}
	100% {
	}
}
@keyframes toolbar-hide-toolbar {
	0% {
	}
	100% {
	}
}

.viewAnimationOpen {
	animation-name: zoomToFill-bound-5;
	animation-duration: 0.5s;
}
.viewAnimationClose {
	animation-name: zoomToFill-bound-5;
	animation-duration: 0.5s;
	animation-direction: reverse;
}