body {
	margin: 0%;
	display: flex;
	flex-direction: column;
}
a {
	color: rgb(0, 0, 0);
}
#toolbar {
	background-color: rgba(150, 150, 150, 1);
	height: 10vh;
	display: flex;
	flex-direction: row;
}
#toolbar > * {
	height: 100%;
	flex: 1;
	border: none;
	background-color: rgba(150, 150, 150, 1);
}
#toolbar > *:hover {
	background-color: rgba(100, 100, 100, 1);
}
#editor {
	background-color: rgba(200, 200, 200, 1);
	height: 90vh;
	border: none;
	outline: none;
	resize: none;
	padding-left: 1%;
	white-space: pre;
}
/* View Panes */
.view {
	display: none;
	background-color: rgba(255, 255, 255, 1);
	padding: 1%;
	position: fixed;
	top: 5vh;
	left: 5vw;
	right: 5vw;
	bottom: 5vh;
	z-index: 11;
	animation-name: zoomToFill-bound-5;
	animation-duration: 0.5s;
	overflow-y: auto;
}
.view-close-button {
	position: fixed;
	right: 5vw;
	top: 5vh;
	height: 5vh;
	border: none;
	background-color: rgba(150, 150, 150, 1);
	animation-name: zoomToFill-close-button-5;
	animation-duration: 0.5s;
}
.view-close-button:hover {
	background-color: rgba(100, 100, 100, 1);
}
#popups {
	position: fixed;
	width: 60vw;
	height: 40vh;
	bottom: 55vh;
	left: 20vw;
	right: 20vw;
	top: 5vh;
	background-color: rgba(255, 255, 255, 1);
	display: none;
	z-index: 12;
	text-align: center;
	overflow-y: auto;
	animation-name: topDownTo5;
	animation-duration: 0.1s;
}
.popup-close-button {
	border: none;
	width:60vw;
	position:fixed;
	height: 5vh;
	right:20vw;
	left:20vw;
	bottom:55vh;
	background-color: rgba(150, 150, 150, 1);
	animation-name: topDownTo5-buffered;
	animation-duration: 0.1s;
}
.popup-close-button:hover {
	background-color: rgba(100, 100, 100, 1);
}

/* UI Meshes */
.disableInteractionsMesh {
	background-color: rgba(200, 200, 200, 0.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 10;
	display: none;
}
/* Basic Classes */

.updateButton {
	background-color: rgba(0, 255, 0, 1);
	width: 100%;
	border: none;
	font-weight: bold;
}
.updateButton:hover {
	background-color: rgba(0, 200, 0, 1);
}

/* Animations */
@keyframes topDownTo5-buffered {
	from {
		top: 35vh;
	}
	to {
		top: 40vh;
	}
}
@keyframes topDownTo5 {
	from {
		top: 0vh;
		bottom: 60vh;
	}
	to {
		top: 5vh;
		bottom: 55vh;
	}
}
@keyframes zoomToFill-bound-5 {
	from {
		width: 20vw;
		height: 20vh;
		left: 40vw;
		right: 4vw;
		top: 4vh;
		bottom: 40vh;
		overflow: hidden;
	}
	to {
		width: 90vw;
		height: 90vh;
		left: 5vw;
		right: 5vw;
		top: 5vh;
		bottom: 5vh;
		overflow: auto;
	}
}
@keyframes shrink-bound-5 {
	from {
		width: 90vw;
	}
	to {
		width: 20vw;
	}
}
@keyframes zoomToFill-close-button-5 {
	from {
		right: 40vw;
	}
	to {
		right: 5vw;
	}
}