/* Everything is set to white so that colors will only show once the theme has loaded. */
.toolbar {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	height: 10vh;
	display: flex;
	flex-direction: row;
	font-size: 1em;
}
.toolbar-unit {
	background-color: rgba(255, 255, 255, 1);
	color: rgb(255, 255, 255);
	height: 100%;
	border: none;
	flex: 1;
}
.toolbar > button {
	border: none;
}
.toolbar > button:hover {
	background-color: rgba(255, 255, 255, 1);
}
#editor {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	overflow-y: auto;
	overflow-x: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.view {
	
}
#fontSizeSelect {
	background-color: rgb(255, 255, 255);
	border: none;
}
#fontSizeSelect:hover {
	
}
.close-button {
	
}
.close-button:hover {
	
}
.popup-close-button {

}
.popup-close-button:hover {

}