<details>
	<summary>Version</summary>
	<p>You are using version <span id="versionLabel"></span>.</p>
	<div id="updateStatusOutput"></div>
</details>
<details>
	<summary>Theme</summary>
	<div class="row">
		<div class="column" class="center">
			<h3 id="themeLabel" class="center"></h3>
			<center>
				<svg width="10vw" height="10vh" xmlns="http://www.w3.org/2000/svg">
					<rect id="themeSample" width="100%" height="100%" style="fill: rgb(0, 0, 0);"></rect>
				</svg>
			</center>
		</div>
		<div class="column">
			<h3>Change Theme</h3>
			<select id="themeSelector">
				<option value="Sky">Sky</option>
			</select>
			<br>
			<button onclick="settings.setTheme(document.getElementById('themeSelector').value)">Save</button>
		</div>
	</div>
</details>
<details>
	<summary>Factory Reset</summary>
	<button onclick="factoryReset()" class="button-warning fill-w">Factory Reset</button>
</details>