:root {
	--name: Sky
}
.toolbar {
	background-color: rgb(100, 100, 100);
	color: rgb(0, 0, 0);
	height: 10vh;
	display: flex;
	flex-direction: row;
}
.toolbar > * {
	background-color: rgb(100, 100, 100);
	color: rgb(0, 0, 0);
	height: 100%;
	flex: 1;
	border: none;
}
.toolbar > button {
}
.toolbar > button:hover {
	background-color: rgba(100, 100, 100, 1);
}
.editor {
	background-color: rgb(255, 255, 255);
}
.view {
	
}
#fontSizeSelect {
	background-color: rgb(150, 150, 150);
	border: none;
}
#fontSizeSelect:hover {
	
}
.close-button {
	
}
.close-button:hover {
	
}
.popup-close-button {

}
.popup-close-button:hover {

}
#themeSample {
	
}